@import './vars';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap/scss/utilities/_spacing.scss';
@import '../../node_modules/bootstrap/scss/utilities/_display.scss';
@import '../../node_modules/bootstrap/scss/utilities/_sizing.scss';
@import '../../node_modules/bootstrap/scss/_dropdown.scss';

* {
  box-sizing: border-box;
}

html, body {
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
  line-height: 1.2;
  letter-spacing: -1px;
	font-size: $font_size;
  font-weight: normal;
  font-family: $default_family;
  overflow-x: auto;
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: $text_color;
  text-decoration: none;

  &:hover {
    color: $text_color;
    text-decoration: none;
  }

  .inverse & {
    color: #fff;
    
    &:hover {
      color: #fff;
    }
  }
  
  &.accent {
    &:hover {
      color: $accent;
    }
  }

  &.hover {
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $accent;
    }
  }

  &.underline {
    border-bottom: 1px solid $accent;
  }
}

input, button, textarea, a {
  &, &:hover, &:focus {
    outline: none;
  }
}

p {
	margin: 0 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.inverse {
  color: #fff;
}

.accent {
  color: $accent;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.word {
  white-space: nowrap;
}

.text {
  &-phone {
    text-decoration: none;    
    white-space: nowrap;
    cursor: pointer;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.hamburger {
  background-color: #fff;
  padding: 10px;
	line-height: 0;
  margin-left: 20px;
	    
  &-box {
    width: 30px;
  }

  &-inner {
    &, &:after, &:before {            
      border-radius: 0;
      width: 100%;
      height: 2px;        
    }

    & {
      margin-top: -1px;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: -7px;
    }
  }
}

.grow {
  flex-grow: 1;
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.call-me {
  position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 99;
	cursor: pointer;
  @include circle(50px);
  background-color: #58ea00;
  cursor: pointer;
  display: none;

  .fa {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 1px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 1px solid #58ea00;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
  }

  &:after {
    animation-delay: 0.5s;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  font-family: $title_family;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
  border-radius: 3px;
  background-color:$accent;
  color: #fff !important;
  // white-space: nowrap;
  border: 1px solid $accent;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 7px 16.92px 1.08px rgba(42, 1, 54, 0.3);
  }    

  &:active {
    top: 1px;
  }

  &__loading {
    display: none;
    justify-content: center;
    align-items: center;

    i {
      margin-right: 8px;
    }
  }

  &--loading {
    cursor: not-allowed;

    .button {
      &__text {
        display: none;
      }

      &__loading {
        display: flex;
      }
    }
  }

  &--small {
    padding: 8px 5px;
  }

  &--yellow {
    background-color: $yellow;
    color: #000 !important;
    border-color: $yellow;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: #fff !important;
    }
  }
}

.input-div {
  position: relative;
  
  .input, .textarea {
    width: 100%;  
  }
}

.input, .textarea {
  color: $text_color;
  font-size: 12px;
  font-family: $title_family;
  font-weight: 500;
  line-height: 1;
  border: 2px solid $accent;
  border-radius: 3px;
  background-color: transparent;
  padding: 7px 10px;   

  &.error {
    border-color: red;
    color: red;

    &+.error-message {
      display: block;
    }
  }

	&+.error-message {
    display: none;
    text-align: left;
    color: red;
    padding-left: 10px;
    margin-top: 5px;
	}

	&::-webkit-input-placeholder {
    color: #000;
		opacity: 1;
	}
	
	&::-moz-placeholder {
    color: #000;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
    color: #000;
		opacity: 1;
  }
  
  .inverse & {
    color: #fff;

    &::-webkit-input-placeholder {
      color: #fff;
    }
    
    &::-moz-placeholder {
      color: #fff;
    }
    
    &:-ms-input-placeholder {
      color: #fff;
    } 
  }
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.textarea {
  height: 65px;
}

.form {
  position: relative;  
    
  &__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

    &--large {
      font-size: 24px;
      font-weight: 500;
      font-family: $title_family;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .input-div, .button {
    margin-bottom: 10px;
  }

  &__info {
    font-size: 12px;
    font-family: $title_family;
    // text-align: left;
    letter-spacing: 0;
  }

  &--horizontal {
    max-width: 540px;
    margin: 0 auto;

    .form {

      &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    .input-div {
      flex-grow: 1;
      margin-right: 10px;
    }
  }

  &--vertical {
    text-align: center;
    
    .form {
      &__content {
        max-width: 220px;
        margin: 0 auto;    
      }
    }

    .button {
      width: 100%;
    }
  }
}

.owl-carousel {
	.owl {
    &-stage {
      display: flex;
    }

    &-item {
      float: none;
      display: flex;
      justify-content: center;

      img {
        width: auto;
        margin: 0 auto;
      }
    }

		&-prev, &-next {
			position: absolute;
			top: 50%;
			width: 26px;
      height: 50px;
      background-image: url('../img/arrow-left.png') !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      transform: translateY(-50%);
      outline: 0;
      z-index: 10;
		}

		&-prev {
      left: 0px;
		}

		&-next {
      right: 0px;
      background-image: url('../img/arrow-right.png') !important;
    }

    &-dots {
      position: relative;
      text-align: center;
      margin-top: 15px;
    }
    
    &-dot {
      width: 16px;
      height: 16px;
      border: 1px solid $accent !important;
      background-color: transparent !important;
      margin: 0 5px;
      border-radius: 50%;

      &.active {
        background: $accent !important;
      } 
    }
	}
}

.remodal {
  text-align: left;
  color: $text_color;
  max-width: 80%;

  &-close {
    left: auto;
    right: 0;
    color: $text_color;
    z-index: 20;

    &:before {
      font-size: 35px;
    }
  }

  &__logo {
    position: absolute;
    top: 10px;
    left: 35px;
  }


  &__title {
    font-size: 24px;
    font-weight: bold;
    font-family: $title_family;
    color: $accent;
    text-align: center;
    margin-bottom: 20px;
  }

  &--small {
    max-width: 375px;
    padding: 40px 25px;
    background-image: url('../img/zvonok-back.jpg');

    .remodal__title {
      font-size: 18px;
    }
  }
}

.checkbox {
  display: flex;
  cursor: pointer;
  text-align: left;

  [type="checkbox"], [type="radio"] {
   display: none;

    & + span {
      position: relative;
      top: 2px;
      margin-right: 5px;
      display: inline-block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      border: 1px solid $accent;  
      border-radius: 50%;

      &:after {
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background-color: $accent;
        border-radius: 50%;
      }
    }
    &:checked + span:after {
      display: block;
    }
  }
}