#thanks-page {
  .page-wrapper {
    background-color: $yellow;
  }
}

.s-thanks {
  color: $accent;
  padding: 0;

  &__content {
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background-image: url('../img/thanks-back.png');
    background-repeat: no-repeat;
    background-position: top right;
  }
    
  &__title {
    font-size: 36px;
    font-weight: bold;
    font-family: $print_family;
    margin-bottom: 20px;
  }

  &__text {    
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 125px;
  }

  &__link {
    text-decoration: underline;
    color: $accent;
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .s-thanks {
    padding: 150px 0 50px;
    
    &-title {
      font-size: 30px;
    }

    &-text {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }
}