@import './fonts';
@import './_mixins/circle';
@import './_mixins/disk';

$default_family: SegoeUI, Arial;
$title_family: Exo2, Arial;
$print_family: SegoePrint, Arial;

$font_size: 14px;
$text_color: #000;

$accent: #52006b;
$yellow: #fcce30;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
